	<!-- /Head -->
    <%- include('./partials/head') %> 
	<!-- /Head -->

<body>
    
    <!-- /Header -->
    <%- include('./partials/headerDeslogueado') %> 
	<!-- /Header -->

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="" class="formulario">

                    <h2>¡Inicio de Sesión!</h2>

                    <div>
                        <label class="form-label" class="form-label" for="">Nombre de Usuario:</label>
					    <input class="form-input" name="usuario" value="" type="text" placeholder="Ej: Marcos" required>
                    </div>
                    <div>
                        <label class="form-label" for="">Contraseña:</label>
					    <input class="form-input" name="contrasena" value="" type="password" placeholder="Ej: *****" required>
                    </div>
                    <div>
                        <h5>Recordame</h5> 
                        <input type="checkbox" name="remember" id="">
                    </div>
					<button type="submit" class="boton"> Iniciar sesión</button>
                
                </form>
            </div>
        </div>
    </main>

    <!-- /Head -->
    <%- include('./partials/footer') %> 
	<!-- /Head -->


</body>

</html>