	<!-- /Head -->
    <%- include('./partials/head') %> 
	<!-- /Head -->

<body>
    
    <!-- /Header -->
    <%- include('./partials/headerDeslogueado') %> 
	<!-- /Header -->

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">
                    
                    <h2>Editar Perfil</h2>

                        Nombre: <input class="form-input" type="text" name="nombre" id="" required>
						Apellido: <input class="form-input" type="text" name="apellido" id="" required>
						E-mail: <input class="form-input" type="email" name="email" id="" required>
						Fecha de nacimiento: <input class="form-input" type="date" name="fecha" id="" required>
						Nombre de usuario: <input class="form-input" type="text" name="usuario" id="" required>
						Foto de perfil: <input class="form-input" type="file" name="portada" id="" accept="image/png, image/jpg, image/jpeg">
						Contraseña: <input class="form-input" type="password" name="contraseña" id="" required >
						Confirmar contraseña: <input class="form-input" type="password" name="confirContra" id="" required>
            
                </form>
            </div>
        </div>
    </main>

    <!-- /Head -->
    <%- include('./partials/footer') %> 
	<!-- /Head -->


</body>

</html>