	<!-- /Head -->
    <%- include('./partials/head') %> 
	<!-- /Head -->

<body>
    
    <!-- /Header -->
    <%- include('./partials/headerDeslogueado') %> 
	<!-- /Header -->

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="">
                    
                    <h2>Registración</h2>

                        <div>
                            Nombre: <input class="form-input" type="text" name="nombre" id="" required placeholder="Ej: Marcos">
                        </div>
						<div>
                            Apellido: <input class="form-input" type="text" name="apellido" id="" required placeholder="Ej: Galperín">
                        </div>
                        <div>
                            E-mail: <input class="form-input" type="email" name="email" id="" required placeholder="Ej: marcos@gmail.com">
                        </div>
                        <div>
                            Fecha de nacimiento: <input class="form-input" type="date" name="fecha" id="" required>
                        </div>
                        <div>
                            Nombre de usuario: <input class="form-input" type="text" name="usuario" id="" required>
                        </div>
                        <div>
                            Foto de perfil: <input class="form-input" type="file" name="portada" id="" accept="image/png, image/jpg, image/jpeg">
                        </div>
						<div>
                            Contraseña: <input class="form-input" type="password" name="contraseña" id="" required placeholder="*****">
                        </div>
						<div>
                            Confirmar contraseña: <input class="form-input" type="password" name="confirContra" id="" required placeholder="*****">
                        </div>
						<div>
                            <input class="form-input" type="submit" value="Registrate">
                        </div>
            
                </form>
            </div>
        </div>
    </main>

    <!-- /Head -->
    <%- include('./partials/footer') %> 
	<!-- /Head -->


</body>

</html>