	<!-- /Head -->
	<%- include('./partials/head') %>
	<!-- /Head -->

	<body>

	    <!-- /Header -->
	    <%- include('./partials/headerDeslogueado') %>
	    <!-- /Header -->

	    <main>
	        <div class="uk-section uk-section-small">
	            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">

	                <h2>Resultados de busqueda</h2>
	                <section class="muro uk-flex uk-flex-middle uk-flex-center">
	                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
	                        <% for( let i = 0; i < 9; i++ ) { %>
	                        <div
	                            class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
	                            <a href="detail/post" class="link-detalle">
	                                <img src="https://via.placeholder.com/200" alt="foto de perfil" class="foto-perfil">
	                                <p class="uk-text-center">Lorem ipsum</p>
	                            </a>
	                        </div>
	                        <% } %>
	                    </div>
	                </section>
	            </div>
	        </div>
	    </main>


	    <!-- /Head -->
	    <%- include('./partials/footer') %>
	    <!-- /Head -->


	</body>

	</html>